@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

*{
  box-sizing: border-box;
}

body{
  background-color: #E49BFF;
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Karla", sans-serif;
}

.wrapper{
 max-width: 600px;
}

.row{
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.players{
  background-color: #850F8D;
  margin-top: 100px;
  height: 70px;
  padding: 10px;
  display: grid;
  place-items: center;
  border-radius: 20px;
  font-weight: bold;
  border: 2px solid black;
  border-bottom: 4px solid black;
  color: #F8F9D7;
  font-family: inherit;
}

button{
  font-family: inherit;
  background-color: #850F8D;
  margin-bottom: 50px;
  border: none;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  color: #F8F9D7;
}

.board{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  border: 2px solid black;
  padding-bottom: 30px;
  border-bottom: 4px solid black;
  width: 300px;
  background-color: #850F8D;
  border-radius: 10px;
  margin: 0;
}

ul{
  display: grid;
  place-items: center;
  padding: 0;
  margin: 0;
}

ul p{
  margin: 2px;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-top: 4px solid black;
  border-radius: 20px;
  background-color: #E2BBE9;
}

ul:hover{
  cursor: pointer;
}

.timer-box{
  background-color: #b3b494;
  color: black;
  margin-left: 200px;
  height: 90px;
  width: 150px;
  display: grid;
  place-items: center;
  font-weight: bold;
  font-family: inherit;
  clip-path: polygon(50% 0%, 100% 38%, 100% 100%, 0% 100%, 0% 38%);
  border-radius: 15px;
  font-size: small;
  padding-top: 20px;
  margin-top: -36px;
  position: relative;
  z-index: 1000;
}

/* .timer-box::after{
  position: absolute;
  content: "";
  background-color: black;
  height: 100%;
  width: 100%;
  z-index: 0;
} */

.player{
  margin: 0;
}

.time{
  font-size: xxx-large;
}




